<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a5a5lab.module.xdm.code.CodeDao">
	<resultMap id="resultMapObj" type="com.a5a5lab.module.xdm.code.CodeDto"></resultMap>
	
<sql id="selectCommon">
		FROM code AS a 
		left join codegroup AS b ON b.ifcgSeq = a.codeGroup_ifcgSeq
		WHERE 1=1
		 <if test="shUseNy != null and !shUseNy.equals('')">AND a.ifcdUseNy = #{shUseNy}</if>
        <if test="shDelNy != null and !shDelNy.equals('')">AND a.ifcdDelNy = #{shDelNy}</if>
				
				<choose>
					<when test="shOptionDate == 1">AND ifcdRegistrationDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND ifcdModificationDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>

        <choose>
            <when test="shOption == 1">AND b.ifcgSeq = #{shValue}</when>
            <when test="shOption == 2">AND b.ifcgName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND a.ifcdName LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
		
</sql>	
<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			ifcdSeq,
			ifcdName,
			codeGroup_ifcgSeq
		FROM
			code 
			
		WHERE 1=1
			AND ifcdDelNy = 0
		   
   </select>	
	
<select id="selectList" resultMap="resultMapObj">
	SELECT 
		a.ifcdSeq,
		a.ifcdName,
		a.regDate,
		a.modDate,
		a.ifcdUseNy,
		b.ifcgSeq,
		b.ifcgName
	<include refid="selectCommon"/>
	ORDER BY a.ifcdSeq DESC
	LIMIT #{startRnumForMysql},#{rowNumToShow} 
</select>
<select id="selectOneCount" resultType="Integer">
	SELECT
		count(*)
	<include refid="selectCommon"/>
</select>
<select id="codeGroupList">
	select
		ifcgSeq,
	    ifcgName
	from
		codegroup
</select>
<select id="selectOne">
		select
			ifcgSeq,
	        ifcgDelNy,
	        ifcgName,
	        ifcgUseNy
		FROM
			code
		WHERE
			1=1
		AND ifcdSeq = #{ifcdSeq}
	</select>
<insert id="insert">
	INSERT code(
		ifcdName,
		regDate,
		modDate,
		ifcdDelNy,
		ifcdUseNy,
		codegroup_ifcgSeq
	)VALUES(
		#{ifcdName},
		now(),
		now(),
		0,
		1,
		#{ifcgSeq}
	)
	
</insert>
	  
</mapper>