<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a5a5lab.module.xdm.code.CodeDao">
	<resultMap id="resultMapObj" type="com.a5a5lab.module.xdm.code.CodeDto"></resultMap>
	
<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			ifcdSeq,
			ifcdName,
			codeGroup_ifcgSeq
		FROM
			code 
			
		WHERE 1=1
			AND ifcdDelNy = 0
		   
   </select>	
	
<select id="selectList" resultMap="resultMapObj">
	SELECT 
		a.ifcdSeq,
		a.ifcdName,
		a.regDate,
		a.modDate,
		a.ifcdUseNy,
		b.ifcgSeq,
		b.ifcgName
	FROM
		code AS a
	left join codegroup AS b ON b.ifcgSeq = a.codegroup_ifcgSeq
</select>
<select id="selectOneCount" resultType="Integer">
	SELECT
		count(*)
	FROM
		code
</select>
<select id="codeGroupList">
	select
		ifcgSeq,
	    ifcgName
	from
		codegroup
</select>
<select id="selectOne">
		select
			ifcgSeq,
	        ifcgDelNy,
	        ifcgName,
	        ifcgUseNy
		FROM
			code
		WHERE
			1=1
		AND ifcdSeq = #{ifcdSeq}
	</select>
<insert id="insert">
	INSERT code(
		ifcdName,
		regDate,
		modDate,
		ifcdDelNy,
		ifcdUseNy,
		codegroup_ifcgSeq
	)VALUES(
		#{ifcdName},
		now(),
		now(),
		0,
		1,
		#{ifcgSeq}
	)
	
</insert>
	  
</mapper>