<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.a5a5lab.module.user.member.MemberDao">
	<resultMap id="resultMapObj" type="com.a5a5lab.module.user.member.MemberDto"></resultMap>
	

	<sql id="selectCommon">
		FROM member
		WHERE 1=1
			
<!-- 		 <if test="shUseNy != null and !shUseNy.equals('')">AND memDelNy = #{shUseNy}</if> -->
        
	
<!-- 				<choose> -->
<!-- 					<when test="shOptionDate == 1">AND regDate BETWEEN #{shDateStart} AND #{shDateEnd}</when> -->
<!-- 					<when test="shOptionDate == 2">AND modDate BETWEEN #{shDateStart} AND #{shDateEnd}</when> -->
<!-- 				</choose> -->

<!--         <choose> -->
<!--             <when test="shOption == 1">AND memSeq = #{shValue}</when> -->
<!--             <when test="shOption == 2">AND memTypeCd LIKE CONCAT('%',#{shValue},'%')</when> -->
<!--             <when test="shOption == 3">AND memId LIKE CONCAT('%',#{shValue},'%')</when> -->
<!--             <when test="shOption == 4">AND memName LIKE CONCAT('%',#{shValue},'%')</when> -->
<!--             <when test="shOption == 5">AND memTel LIKE CONCAT('%',#{shValue},'%')</when> -->
<!--             <when test="shOption == 6">AND memEmail LIKE CONCAT('%',#{shValue},'%')</when> -->
<!--         </choose> -->
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
	SELECT 
		*
	<include refid="selectCommon"/>
</select>

<select id="selectOneCount" resultType="Integer">
	SELECT
		COUNT(*)
	<include refid="selectCommon"/>
		
</select>



<select id="selectOneLogin">
	SELECT
		memSeq,
		memId,
		memPw
	FROM
		member
	WHERE 1=1
	AND	memId=#{memId}
	AND memPw=#{memPw}
	AND memDelNy = 0
		
</select>

	
		<!-- 로그인 화면 구현 -->
	<select id="selectId" resultMap="resultMapObj">
		SELECT 
			memSeq,
		    memTypeCd,
		    memName,
		    genderCd,
		    foreignerCd,
		    agencyCd,
		    memTel,
		    memEmail,
		    memId,
		    memPw,
		    memDelNy
		    
		    
		FROM
			member
			
		WHERE 1=1
			AND memId = #{memId}
			<!-- AND userPassword = #{userPassword} -->
			
		ORDER BY memSeq DESC
		
	</select>
	
<!-- 회원가입 -->
	<insert id="signup">
		INSERT into member(
		memTypeCd,
		memName,
		genderCd,
		foreignerCd,
		agencyCd,
		memTel,
		memEmail,
		memId,
		memPw,
		memDelNy,
		regDate,
		modDate
		)VALUES(
		#{memTypeCd},
		#{memName},
		#{genderCd},
		#{foreignerCd},
		#{agencyCd},
		#{memTel},
		#{memEmail},
		#{memId},
		#{memPw},
		0,
		now(),
		now()
		)
	</insert>
	
	<update id="userUpdate">
	UPDATE member SET
		memName = #{memName},
	    genderCd = #{genderCd},
		memId = #{memId},
        memEmail = #{memEmail},
        agencyCd = #{agencyCd},
        memTel= #{memTel},
	WHERE seq = #{seq}
	</update>
	
	
	
	
</mapper>