<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.a5a5lab.module.user.member.MemberDao">
	<resultMap id="resultMapObj" type="com.a5a5lab.module.user.member.MemberDto"></resultMap>
	
<select id="selectOneLogin">
	SELECT
		memSeq,
		memId,
		memPw
	FROM
		member
	WHERE 1=1
	AND	memId=#{memId}
	AND memPw=#{memPw}
	AND memDelNy = 0
		
</select>
	
		<!-- 로그인 화면 구현 -->
	<select id="selectId" resultMap="resultMapObj">
		SELECT 
			memSeq,
		    memTypeCd,
		    memName,
		    genderCd,
		    foreignerCd,
		    agencyCd,
		    memTel,
		    memEmail,
		    memId,
		    memPw,
		    memDelNy
		    
		    
		FROM
			member
			
		WHERE 1=1
			AND memId = #{memId}
			<!-- AND userPassword = #{userPassword} -->
			
		ORDER BY memSeq DESC
		
	</select>
	
<!-- 회원가입 -->
	<insert id="signup">
		INSERT into member(
		memTypeCd,
		memName,
		genderCd,
		foreignerCd,
		agencyCd,
		memTel,
		memEmail,
		memId,
		memPw,
		memDelNy,
		regDate,
		modDate
		)VALUES(
		#{memTypeCd},
		#{memName},
		#{genderCd},
		#{foreignerCd},
		#{agencyCd},
		#{memTel},
		#{memEmail},
		#{memId},
		#{memPw},
		0,
		now(),
		now()
		)
	</insert>
	
	
	
	
</mapper>