<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.a5a5lab.module.user.stay.StayDao">
	<resultMap id="resultMapObj" type="com.a5a5lab.module.user.stay.StayDto"></resultMap>
	
	<!-- 숙바 리스트 -->
	<select id="stayList" resultMap="resultMapObj">
SELECT 
    a.staySeq,
    a.stayName,
    a.stayZipCode,
    a.stayAddress,
    a.stayAddressDetail,
    a.stayLatitude,
    a.stayHardness,
    a.stayIntroMemo,
    a.stayServiceMemo,
    a.stayNoticeMemo,
    a.regDateTime,
    a.modDateTime,
    a.regionCd,
    a.activeCd,
    a.member_memSeq,
    a.stDeNy,
    a.stayPrice,
    
    region.ifcdSeq AS regionCd,
    region.ifcdName AS regionName,
    active.ifcdSeq AS activeCd,
    active.ifcdName AS activeName,
    b.path,

    
    IFNULL(AVG(review.starScore), 0) AS averageRating

FROM stay a
LEFT JOIN code region ON a.regionCd = region.ifcdSeq
LEFT JOIN code active ON a.activeCd = active.ifcdSeq
LEFT JOIN uploaded AS b ON a.staySeq = b.pSeq AND b.defaultNy = 1
LEFT JOIN review ON a.staySeq = review.stay_staySeq AND review.reDelNy = 0

WHERE 1=1
  <if test="shOption == 4 and shRegion != null and shRegion != ''">
    AND a.regionCd IN
    <foreach item="region" index="index" collection="shRegion.split(',')" open="(" separator="," close=")">
      #{region}
    </foreach>
  </if>

  <if test="shValue != null and shValue != ''">
    AND (
      a.stayName LIKE CONCAT('%', #{shValue}, '%')
      OR a.stayAddress LIKE CONCAT('%', #{shValue}, '%')
    )
  </if>
        <choose>
            <when test="shOption == 1">
                AND a.stayName LIKE CONCAT('%', #{shValue}, '%')
            </when>
         
            <when test="shOption == 4">
                AND a.futsalRegion = (
                    CASE 
                        WHEN #{shValue} = '서울' THEN 16
                        WHEN #{shValue} = '인천' THEN 17
                        WHEN #{shValue} = '대전' THEN 18
                        WHEN #{shValue} = '대구' THEN 19
                        WHEN #{shValue} = '광주' THEN 20
                        WHEN #{shValue} = '울산' THEN 21
                        WHEN #{shValue} = '부산' THEN 22
                        ELSE -1
                    END
                )
            </when>
            
        </choose>
  AND a.stDeNy = 0

GROUP BY a.staySeq
ORDER BY a.regDateTime DESC
LIMIT #{startRnumForMysql}, #{rowNumToShow}
</select>


	<!-- 숙바 리스트 -->
	<select id="stayList1" resultMap="resultMapObj">
	SELECT 
	    a.staySeq,
	    a.stayName,
	    a.stayZipCode,
	    a.stayAddress,
	    a.stayAddressDetail,
	    a.stayLatitude,
	    a.stayHardness,
	    a.stayIntroMemo,
	    a.stayServiceMemo,
	    a.stayNoticeMemo,
	    a.regDateTime,
	    a.modDateTime,
	    a.regionCd,
	    a.activeCd,
	    a.member_memSeq,
	    a.stDeNy,
	    a.stayPrice,
	    
	    region.ifcdSeq AS regionCd,
	    region.ifcdName AS regionName,
	    active.ifcdSeq AS activeCd,
	    active.ifcdName AS activeName,
	    b.path
	
	    
	    
	
	FROM stay a
	LEFT JOIN code region ON a.regionCd = region.ifcdSeq
	LEFT JOIN code active ON a.activeCd = active.ifcdSeq
	LEFT JOIN uploaded AS b ON a.staySeq = b.pSeq AND b.defaultNy = 1
	
	
	WHERE 1=1
	
	
	  AND a.stDeNy = 0


</select>

	
	<!-- 호스트가 숙박 등록 했을떄 리스트 -->
	<select id="stayRegistrationList" resultMap="resultMapObj">
	
		SELECT 
			a.staySeq, <!-- 숙박 Seq -->
			a.stayName, <!-- 숙박이름 -->
			a.stayZipCode, <!-- 우편번호 -->
			a.stayAddress, <!-- 주소 -->
			a.stayAddressDetail, <!-- 상세 주소 -->
			a.stayLatitude, <!-- 위도 -->
			a.stayHardness, <!-- 경도 -->
			a.stayIntroMemo, <!-- 소개 메모 -->
			a.stayServiceMemo, <!-- 서비스 메모 -->
			a.stayNoticeMemo, <!-- 공지 메모 -->
			a.regDateTime, <!-- 등록일 -->
			a.modDateTime, <!-- 수정일 -->
			a.regionCd, <!-- 지역CD -->
			a.activeCd, <!-- 활성 CD -->
			a.member_memSeq, <!-- 등록한 멤버 Seq -->
			a.stDeNy, <!-- 삭제여부 -->
			a.stayPrice,<!-- 숙박 가격 -->
			region.ifcdSeq AS regionCd,
		    region.ifcdName AS regionName,
		    active.ifcdSeq AS activeCd,
            active.ifcdName AS activeName,
            b.memSeq
		FROM
			stay a
			
		LEFT JOIN code region ON a.regionCd = region.ifcdSeq
        LEFT JOIN code active ON a.activeCd = active.ifcdSeq
        LEFT JOIN member b ON a.member_memSeq = b.memSeq
		
		WHERE 1=1 
			AND a.stDeNy = 0
			AND a.member_memSeq = #{memSeq}
			
	
<!-- 		LIMIT #{startRnumForMysql},#{rowNumToShow} -->
	
	</select>
	
	<!-- 페이지 네이션 -->
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<sql id="selectCommon">
		FROM
			stay 
		WHERE 1=1
			
	</sql>
	
	
	<!-- 숙소 정보 1개씩 뽑기 -->
	<select id="stayOne" resultMap="resultMapObj">
			SELECT 
			a.staySeq, <!-- 숙박 Seq -->
			a.stayName, <!-- 숙박이름 -->
			a.stayZipCode, <!-- 우편번호 -->
			a.stayAddress, <!-- 주소 -->
			a.stayAddressDetail, <!-- 상세 주소 -->
			a.stayLatitude, <!-- 위도 -->
			a.stayHardness, <!-- 경도 -->
			a.stayIntroMemo, <!-- 소개 메모 -->
			a.stayServiceMemo, <!-- 서비스 메모 -->
			a.stayNoticeMemo, <!-- 공지 메모 -->
			a.regDateTime, <!-- 등록일 -->
			a.modDateTime, <!-- 수정일 -->
			a.regionCd, <!-- 지역CD -->
			a.activeCd, <!-- 활성 CD -->
			a.member_memSeq, <!-- 등록한 멤버 Seq -->
			a.stDeNy, <!-- 삭제여부 -->
			a.stayPrice,<!-- 숙박 가격 -->
			a.stayPersonnel,
			region.ifcdSeq AS regionCd,
		    region.ifcdName AS regionName,
		    active.ifcdSeq AS activeCd,
            active.ifcdName AS activeName,
            b.memSeq,
            b.memName,
            b.memTel
		FROM
			stay a
			
		LEFT JOIN code region ON a.regionCd = region.ifcdSeq
        LEFT JOIN code active ON a.activeCd = active.ifcdSeq
        LEFT JOIN member b ON a.member_memSeq = b.memSeq
		
		WHERE 1=1 
			
			AND staySeq = #{staySeq}
			
			
	</select>	
	
	<!--숙소등록 -->
	<insert id="insert">
		INSERT INTO stay(
		stayName,
		stayZipCode,
		stayAddress,
		stayAddressDetail,
		stayLatitude,
		stayHardness,
		stayIntroMemo,
		stayServiceMemo,
		stayNoticeMemo,
		regDateTime,
		modDateTime,
		regionCd,
		activeCd,
		member_memSeq,
		stayPrice,
		stayPersonnel,
		stDeNy
		)VALUES(
		#{stayName},
		#{stayZipCode},
		#{stayAddress},
		#{stayAddressDetail},
		#{stayLatitude},
		#{stayHardness},
		#{stayIntroMemo},
		#{stayServiceMemo},
		#{stayNoticeMemo},
		now(),
		now(),
		#{regionCd},
		9,
		#{member_memSeq},
		#{stayPrice},
		#{stayPersonnel},
		0
		)
		<selectKey resultType="String" keyProperty="staySeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	
	
		 <!-- 숙소 상세 들어가면 리뷰 작성 리스트 -->
	 	<select id="reviewList" resultMap="resultMapObj">
		SELECT
		    a.reSeq,
		    a.starScore,
		    a.reTitle,
		    a.reText,
		    a.member_memSeq,
		    a.stay_staySeq,
		    a.regDateTime,
		    a.reDelNy,
		    b.staySeq,
		    b.stayName,         
		    c.memSeq,
		    c.memName,
		    c.memId
		FROM 
		    review a
		    JOIN stay b ON a.stay_staySeq = b.staySeq
		    JOIN member c ON a.member_memSeq = c.memSeq
		WHERE 1=1
		
		   AND stay_staySeq = #{staySeq}
		   AND reDelNy = 0
		   LIMIT #{startRnumForMysql},#{rowNumToShow}
	
	</select>
<!-- 	리뷰갯수 -->
	<select id="reviewCount" resultType="Integer">
		SELECT COUNT(*)
		FROM
			review
		WHERE
			stay_staySeq=#{staySeq}
		AND reDelNy = 0
	</select>
	
	<select id="imgList" resultMap="resultMapObj">
		SELECT 
			path
		FROM
			uploaded
		WHERE
			pSeq=#{staySeq}
		ORDER BY seq DESC
	</select>
	
	<update id="update">
		UPDATE stay set
			stayName=#{stayName},
			stayZipCode=#{stayZipCode},
			stayAddress=#{stayAddress},
			stayAddressDetail=#{stayAddressDetail},
			stayLatitude=#{stayLatitude},
			stayHardness=#{stayHardness},
			stayIntroMemo=#{stayIntroMemo},
			modDateTime=#{modDateTime},
			regionCd=#{regionCd},
			stayPrice=#{stayPrice},
			stayPersonnel=#{stayPersonnel}
		WHERE
			staySeq=#{staySeq}
		
		
		
	</update>
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>