<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.a5a5lab.module.user.stay.StayDao">
	<resultMap id="resultMapObj" type="com.a5a5lab.module.user.stay.StayDto"></resultMap>
	
	<select id="stayList" resultMap="resultMapObj">
	
		SELECT 
			a.staySeq, <!-- 숙박 Seq -->
			a.stayName, <!-- 숙박이름 -->
			a.stayZipCode, <!-- 우편번호 -->
			a.stayAddress, <!-- 주소 -->
			a.stayAddressDetail, <!-- 상세 주소 -->
			a.stayLatitude, <!-- 위도 -->
			a.stayHardness, <!-- 경도 -->
			a.stayIntroMemo, <!-- 소개 메모 -->
			a.stayServiceMemo, <!-- 서비스 메모 -->
			a.stayNoticeMemo, <!-- 공지 메모 -->
			a.regDateTime, <!-- 등록일 -->
			a.modDateTime, <!-- 수정일 -->
			a.regionCd, <!-- 지역CD -->
			a.activeCd, <!-- 활성 CD -->
			a.member_memSeq, <!-- 등록한 멤버 Seq -->
			a.stDeNy, <!-- 삭제여부 -->
			a.stayPrice,<!-- 숙박 가격 -->
			region.ifcdSeq AS regionCd,
		    region.ifcdName AS regionName,
		    active.ifcdSeq AS activeCd,
            active.ifcdName AS activeName
		FROM
			stay a
			
		LEFT JOIN code region ON a.regionCd = region.ifcdSeq
        LEFT JOIN code active ON a.activeCd = active.ifcdSeq
		
		WHERE 1=1 
			AND a.stDeNy = 0
	
		LIMIT #{startRnumForMysql},#{rowNumToShow}
	
	</select>
	
	<!-- 페이지 네이션 -->
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<sql id="selectCommon">
		FROM
			stay 
		WHERE 1=1
			
	</sql>
	
	
	<!-- 숙소 정보 1개씩 뽑기 -->
	<select id="stayOne" resultMap="resultMapObj">
			SELECT 
			a.staySeq, <!-- 숙박 Seq -->
			a.stayName, <!-- 숙박이름 -->
			a.stayZipCode, <!-- 우편번호 -->
			a.stayAddress, <!-- 주소 -->
			a.stayAddressDetail, <!-- 상세 주소 -->
			a.stayLatitude, <!-- 위도 -->
			a.stayHardness, <!-- 경도 -->
			a.stayIntroMemo, <!-- 소개 메모 -->
			a.stayServiceMemo, <!-- 서비스 메모 -->
			a.stayNoticeMemo, <!-- 공지 메모 -->
			a.regDateTime, <!-- 등록일 -->
			a.modDateTime, <!-- 수정일 -->
			a.regionCd, <!-- 지역CD -->
			a.activeCd, <!-- 활성 CD -->
			a.member_memSeq, <!-- 등록한 멤버 Seq -->
			a.stDeNy, <!-- 삭제여부 -->
			a.stayPrice,<!-- 숙박 가격 -->
			region.ifcdSeq AS regionCd,
		    region.ifcdName AS regionName,
		    active.ifcdSeq AS activeCd,
            active.ifcdName AS activeName,
            b.memSeq,
            b.memName,
            b.memTel
           
		FROM
			stay a
			
		LEFT JOIN code region ON a.regionCd = region.ifcdSeq
        LEFT JOIN code active ON a.activeCd = active.ifcdSeq
        LEFT JOIN member b ON a.member_memSeq = b.memSeq
		
		WHERE 1=1 
			
			AND staySeq = #{staySeq}
			
	</select>	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>