<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/head :: head}"></div>

<body>

  <div th:replace="~{xdm/include/header :: header}"></div>
 <div th:replace="~{xdm/include/sidebar :: sidebar}"></div>
 
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Code</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">Code</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="card">
        <div class="card-header">
          <h4 style="color: black;"><strong>기본정보</strong></h4>
        </div>
        <div class="card-body">
              <form id="formList" method="post"   novalidate  >
              <input type="hidden" name="ifcdSeq" th:value="${vo.ifcdSeq}">
                <div class="row">
                  <div class="col-3">
                    <div class="mb-3">
                      <label for="ifcgSeq" class="form-label">코드그룹 이름<span style="color: crimson;">*</span></label>
                      <select class="form-select"  aria-label="Default select example" id="ifcgSeq" name="ifcgSeq">
                        <option selected value="" >선택하세요</option>
                        <option th:if="${vo.ifcdSeq !=null}" th:selected="${list.ifcgSeq == item.ifcgSeq}" th:each="list :${list}"  th:text="${list.ifcgName}" th:value = "${list.ifcgSeq}"></option>
                        <option th:if="${vo.ifcdSeq == '0'}" th:each="list :${codegroupList}"  th:text="${list.ifcgName}" th:value = "${list.ifcgSeq}"></option>
                      </select>
                      <div class="invalid-feedback" id="ifcgSeqError"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3">
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">코드<span style="color: crimson;">*</span></label>
                      <input class="form-control" type="text" id="ifcdSeq" name="ifcdSeq" th:value="${item?.ifcdSeq}" placeholder="자동생성" aria-label="Disabled input example" disabled>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="mb-3">
                      <label for="code" class="form-label">사용여부<span style="color: crimson;">*</span></label>
                      <input type="text" class="form-control" placeholder="자동생성" disabled>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="mb-3">
                      <label for="ifcdName" class="form-label ">코드이름<span style="color: crimson;">*</span></label>
                      <input type="text" class="form-control " id="ifcdName" name="ifcdName" th:value="${item?.ifcdName}" >
                      <div  class="invalid-feedback" id="ifcdNameError"></div>
					 
                    </div>
                  </div>
                </div>
                <div class="row">
               <div class="col-3">
                    <div class="mb-3">
                      <label for="code" class="form-label">등록일<span style="color: crimson;">*</span></label>
                      <input type="text" class="form-control"  placeholder="자동생성" disabled>
                    </div>
                  </div>
                   <div class="col-3">
                    <div class="mb-3">
                      <label for="code" class="form-label">수정일<span style="color: crimson;">*</span></label>
                      <input type="text" class="form-control"  placeholder="자동생성" disabled>
                    </div>
                  </div>
                 </div>
                <div class="row">
                  <div class="col-6">
                    <label for="explanation" class="form-label">설명</label>
                    <textarea class="form-control" id="explanation" style="height: 100px" ></textarea>
                  </div>
                </div>
          
          <div class="row" style="margin-top: 2%;">
            <div class="col">
              <a href="/sodam/xdm/CodeXdmList" type="button" class="btn btn-light btn btn-outline-dark">목록</a>
            </div>
            <div class="col" style="text-align: right;">
              <button id="btnSave" type="button" class="btn btn-primary" >저장</button>
            </div>
          </div>
        </form>
      </div>
     </div>
    </section>

  </main><!-- End #main -->

  <div th:replace="~{xdm/include/footer :: footer}"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 
  <div th:replace="~{xdm/include/script :: script}"></div>
  
 
  <script type="text/javascript">
		//한글 정규식
// 		let ko = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;
// 		ko.test()
  	document.getElementById("btnSave").onclick = function(){
		if(validation()==false) return false;
  		let seq = document.querySelector("input[name=ifcdSeq]");
  		let form = document.getElementById("formList");
  		if(seq.value == "0" || seq.value == "") {
  			//인서트모드
  			form.action = "/sodam/xdm/CodeXdmInst";
  			form.submit();
  		} else {
  			//업데이트모드
//   			form.action = "/codeXdmUpdt";
//   			form.submit();
  		}
	}
  		
		
	function validation(){
			let form = document.getElementById("formList");
	  		let name = document.getElementById("ifcdName");
			let nameValue = name.value;
			let seq = document.getElementById("ifcgSeq");
			let seqValue = seq.value;
			if(seqValue==""){
				seq.className='form-control is-invalid';
				document.getElementById("ifcgSeqError").innerText="그룹코드를 선택해주세요.";
				return false;
				} else{
				seq.className='form-control';
				if(nameValue==""){
					name.className='form-control is-invalid';
					document.getElementById("ifcdNameError").innerText="그룹이름을 입력해주세요.";
					return false;
					} else{
						name.className='form-control';
					}
				}
		
	}
		

			
	
	


	
  		
  		

  </script>

</body>



</html>