<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta content="Codescandy" name="author">
  <title>Sign in eCommerce HTML Template - FreshCart</title>
  <!-- Favicon icon-->
  <link rel="shortcut icon" type="image/x-icon" href="/user/template/assets/images/favicon/favicon.ico">


  <!-- Libs CSS -->
  <link href="/user/template/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
  <link href="/user/template/assets/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet">
  <link href="/user/template/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">


  <!-- Theme CSS -->
  <link rel="stylesheet" href="/user/template/assets/css/theme.min.css">
 
  <style>
    body {
      margin: 0;
      height: 100vh;
      background-image: url('/user/template/assets/images/png/hand-painted-watercolor-background-with-sky-clouds-shape\ \(1\).jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      font-family: sans-serif;
    }
  </style>
</head>

<body>
  <!-- navigation -->
  <div class="border-bottom shadow-sm">
    <nav class="navbar navbar-light py-2">
      <div class="container justify-content-center justify-content-lg-between">
        <a class="navbar-brand" th:href="@{indexUser}">
          <img src="/user/template/assets/images/logo/ChatGPT Image 2025년 4월 23일 오후 03_59_55.png" width="70" alt="" class="d-inline-block align-text-top">
        </a>
        <span class="navbar-text">
          이미 계정이 있나요? <a th:href="@{SigninUser}" style="color:blue;">로그인</a>
        </span>
      </div>
    </nav>
  </div>
  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

  <main>
    <!-- section -->
    <section class="my-lg-9 my-8">
      <div class="container">
        <div class="row justify-content-center"> 
          
          
          <div class="col-md-6 col-lg-4">
            <div class="card" style="max-width: 390px;">
              <div class="card-body p-6">
                <div class="form-check mb-4">
                  <input class="form-check-input" type="radio"  id="userRadio" name="memTypeCd" value=11 />
                  <label class="form-check-label text-dark fw-semibold" for="userRadio">사용자</label>
                </div>
                <p class="mb-6">
                  간단한 회원가입으로 <br />
                  합리적인 가격의 숙소와 <br />
                  집주인과 함께하는 문화체험<br />
                  지금 바로 소담스테이와 함께
                </p>
                
                
              </div>
            </div>
          </div>
    
          
          <div class="col-md-6 col-lg-4">
            <div class="card" style="max-width: 390px;">
              <div class="card-body p-6">
                <div class="form-check mb-4">
                  <input class="form-check-input" type="radio"  id="hostRadio" name="memTypeCd" value=12 />
                  <label class="form-check-label text-dark fw-semibold" for="hostRadio">호스트</label>
                </div>
                <p class="mb-6">
                  숙소 경영을 안해보았어어도<br />
                  소담스테이와 함께 배우고 <br />
                  여행사의 도움으로 고소득 수입을 한번에  <br />
                  소담스테이의 다음 사업파트너는 당신입니다
                </p>
                
                
              </div>
            </div>
          </div>

          
    
        </div>
      </div>
      
    </section>

    <div class="d-grid gap-2 col-2 mx-auto">
            
      <a class="btn btn-dark"  id="signupBtn" type="button">회원가입</a>
    </div>
  </main>
  <br> <br> <br> <br> <br> <br> <br> <br> <br>
  <!-- Footer -->
  <!-- footer -->
  


 
  
  <div th:replace="~{user/include/script :: script}"></div>
  <script type="text/javascript">
  document.getElementById('signupBtn').onclick=function(){
	  const selected = document.querySelector('input[name="memTypeCd"]:checked');
	    if (!selected) {
	      alert('회원 유형을 선택해주세요.');
	      return;
	    }
	    const memTypeCd = selected.value;
	    window.location.href = `/SignupUserForm?memTypeCd=${memTypeCd}`;
	  
  }
  </script>
</body>

</html>