

	<th:block th:fragment="head">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta content="Codescandy" name="author">
   <title>Sodam Stay</title>
   <link href="/user/template/assets/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet" />
   <link href="/user/template/assets/libs/slick-carousel/slick/slick.css" rel="stylesheet" />
   <link href="/user/template/assets/libs/slick-carousel/slick/slick-theme.css" rel="stylesheet" />
   <!-- Favicon icon-->
   <link rel="shortcut icon" type="image/x-icon" href="/user/template/assets/images/logo/buddhist-temple-sticker-design-element-vector.png">


   <!-- Libs CSS -->
   <link href="/user/template/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
   <link href="/user/template/assets/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet">
   <link href="/user/template/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">


   <!-- Theme CSS -->
   <link rel="stylesheet" href="/user/template/assets/css/theme.min.css">
   
      <!-- Theme CSS -->
   
   <link href="/user/template/assets/libs/dropzone/dist/min/dropzone.min.css" rel="stylesheet" />

</head>
<style>
   body {
     margin: 0;
     height: 100vh;
     background-image: url('/user/template/assets/images/png/hand-painted-watercolor-background-with-sky-clouds-shape\ \(1\).jpg');
     
     background-position: center;
     background-repeat: no-repeat;
     font-family: sans-serif;
   }
 </style>

<body>
   <!-- navigation -->
   <header>
      <div class="container">
         <!-- 로고  -->
         <div class="row align-items-center pt-6 pb-4 mt-4 mt-lg-0">
            <div class="col-xl-2 col-md-3 mb-4 mb-md-0 col-12 text-center text-md-start">
               
                     <a class="navbar-brand" th:href="@{indexUser}">
                        <img src="/user/template/assets/images/logo/ChatGPT Image 2025년 4월 23일 오후 03_59_55.png" width="130" alt="" class="d-inline-block align-text-top">
                      </a>
            </div>

            <div class="col-xxl-6 col-xl-5 col-lg-6 col-md-9">
               <form action="#">
                  <div class="input-group">
                     <input class="form-control" type="search" placeholder="숙박지역 검색"
                        aria-label="Recipient's username" aria-describedby="button-addon2" />
                     <button class="btn btn-dark" type="button" id="button-addon2">검색</button>
                  </div>
               </form>
            </div>
            <div class="col-xxl-4 col-xl-5 col-lg-3 d-none d-lg-block">
               <div class="d-flex align-items-center justify-content-between ms-4">
                  <div class="text-center">
                     <div class="dropdown">
        
                        
                     </div>
                  </div>
                  <!-- 로그인하지 않은 상태 -->
				 <th:block th:if="${session.sessIdUser == null}">
                  <div class="ms-6 text-center">
                     <a th:href="@{SigninUser}" class="text-reset"  >
                        <div class="lh-1">
                           <div class="mb-2">
                              <i class="bi bi-person-circle fs-4"></i>
                           </div>
                           <p class="mb-0 d-none d-xl-block small">로그인</p>
                        </div>
                     </a>
                  </div>
                  <div class="ms-6 text-center">
                     <a th:href="@{SignupUserSelect}" class="text-reset"  >
                        <div class="lh-1">
                           <div class="mb-2">
                              <i class="bi bi-person-circle fs-4"></i>
                           </div>
                           <p class="mb-0 d-none d-xl-block small">회원 가입</p>
                        </div>
                     </a>
                  </div>
                  </th:block>
                  <th:block th:if="${session.sessIdUser != null}">
                  <div class="text-center ms-6">
                     <div class="ms-6 text-center">
                        <a id="btnSignout" onclick="logoutUser(); return false;" class="text-reset" >
                           <div class="lh-1">
                              <div class="mb-2">
                                 <i class="bi bi-person-circle fs-4"></i>
                              </div>
                              <p class="mb-0 d-none d-xl-block small">로그아웃</p>
                           </div>
                        </a>
                     </div>
                  </div>
                  </th:block>
                
                       <!-- 로그인한 상태 -->
				<th:block th:if="${session.sessIdUser != null}">
                  <div class="ms-6 text-center">
                     <a th:href="@{MyReservationsUser}" class="text-reset">
                        <div class="lh-1">
                           <div class="mb-2">
                              <i class="bi bi-archive fs-4"></i>
                           </div>
                           <p class="mb-0 d-none d-xl-block small">My 페이지</p>
                        </div>
                     </a>
                  </div>
                   </th:block>
                   
                   <div class="list-inline-item me-5">
					 <th:block th:if="${session.sessIdUser != null}">
						<h6 class="mt-2 text-black">([[${session.sessNameUser}]]) [[${session.sessIdUser}]]</h6>
						</th:block>
					</div>
                
                  
               
               </div>
            </div>
         </div>
      </div>
   </header>

   <nav class="navbar navbar-expand-lg navbar-light navbar-default p-0 p-sm-0 navbar-offcanvas-color"
      aria-label="Offcanvas navbar large">
      <div class="container">
         <div class="offcanvas offcanvas-start" tabindex="-1" id="navbar-default" aria-labelledby="navbar-defaultLabel">
            <div class="offcanvas-header pb-1">
               <a href="./index.html"><img src="/user/template/assets/images/logo/freshcart-logo.svg"
                     alt="eCommerce HTML Template" /></a>
               <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
               <div>
                  <ul class="navbar-nav align-items-center">
                     
                     <li class="nav-item dropdown">
                        <a class="nav-link " th:href="@{indexUser}" role="button" 
                           aria-expanded="false">Home</a>
                
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link " th:href="@{ReservationUserList}" role="button" 
                           aria-expanded="false">숙박 예약</a>
                
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link " th:href="@{LocationTour}" role="button" 
                           aria-expanded="false">지역 관광지</a>
                
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link " th:href="@{LocationRestaurant}" role="button" 
                           aria-expanded="false">지역별 맛집</a>
                
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link " href="#" role="button" 
                           aria-expanded="false">지역 날씨</a>
                
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link " th:href="@{infoUser}" role="button" 
                           aria-expanded="false">공지 사항</a>
                
                     </li>
                     <li class="nav-item dropdown"  th:if="${session.sessMemTypeUser == 13 || session.sessMemTypeUser == 12}">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">소담하게 공간 공유하기 </a>
                        <ul class="dropdown-menu">
                           <li><a class="dropdown-item" th:href="@{/StayUserList}">스테이 관리</a></li>
                           <li><a class="dropdown-item" th:href="@{/StayReservationUserList}">스테이 예약 리스트</a></li>
                        </ul>
                     </li>
                     
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </nav>

  <div th:replace="~{user/include/script :: script}"></div>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
  Kakao.init('76e67f4c96cf4197b12d3891557023c9'); // 카카오 앱의 JavaScript 키
</script>
<script type="text/javascript" th:inline="javascript">
    const URL_SIGNIN_FORM_XDM = "/SigninUser"; // 로그인 주소
    const URL_SIGNOUT_PROC_XDM = "/SignoutUser1"; // 로그아웃 컨트롤러 주소
    const URL_INDEX_VIEW_XDM = "/indexUser"; // 로그아웃 후 이동할 페이지
    let loginType =  /*[[${session.sessLoginType}]]*/ null;

    $(document).ready(function () {
        $(document).on("click", "#btnSignout", function () {
        	
        	// 1. Kakao SDK에 로그인한 상태인지 확인
            if (loginType == "kakao") {
                // 카카오 로그인 상태라면 브라우저 쿠키/세션 제거
              alert("카카오로그아웃");
               logOut(); // 서버 세션도 정리
              
            }else if(loginType == "local") {
               alert("그냥로그아웃");
               logOut();
            };
        });
    });
    function logOut(){
    	 $.ajax({
             type: "POST",
             url: URL_SIGNOUT_PROC_XDM,
             data: {},
            /*  dataType: "json", // 응답 데이터를 JSON으로 처리 */
             success: function (response) {
                 if (response.rt === "success") {
                    
                     window.location.href = URL_INDEX_VIEW_XDM; // 로그아웃 후 이동
                 } else {
                    
                 }
             },
             error: function (jqXHR, textStatus, errorThrown) {
                 console.error("AJAX 요청 실패:", textStatus, errorThrown);
                 alert("서버 오류 발생. 다시 시도해주세요.");
             }
         });
    }
</script>

</th:block>