<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="script">
<script src="/user/template/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   <script src="/user/template/assets/libs/simplebar/dist/simplebar.min.js"></script>

   <!-- Theme JS -->
   <script src="/user/template/assets/js/theme.min.js"></script>

   <script src="/user/template/assets/js/vendors/jquery.min.js"></script>
   <script src="/user/template/assets/libs/slick-carousel/slick/slick.min.js"></script>
   <script src="/user/template/assets/js/vendors/slick-slider.js"></script>
   <script src="/user/template/assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
   <script src="/user/template/assets/js/vendors/tns-slider.js"></script>
   <script src="/user/template/assets/js/vendors/zoom.js"></script>

   <script src="/user/template/assets/js/vendors/countdown.js"></script>
   <script src="/user/template/assets/libs/sticky-sidebar/dist/sticky-sidebar.min.js"></script>
   <script src="/user/template/assets/js/vendors/sticky.js"></script>
   <script src="/user/template/assets/js/vendors/modal.js"></script>
	<!--jquery -->
   <script src="/user/template/assets/jquery/jquery-3.7.1.min.js"></script>
	<!--다음지도api -->
   <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<!--주소로 위도 경도찾기 -->
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=aea8125dc58351bcf20c2a748fdbfed7&libraries=services"></script>
</th:block>
 
 
</html>
