<th:block th:fragment="side">
	
	<div class="col-lg-3 col-md-4 col-12 border-end d-none d-md-block" >
						<div class="pt-10 pe-lg-10">
							<!-- nav -->
							<ul class="nav flex-column nav-pills nav-pills-dark">
								<!-- nav item -->
								<li class="nav-item ">
									<a class="nav-link " aria-current="page" th:href="@{MyReservationsUser}">
										<i class="feather-icon icon-shopping-bag me-2"></i>
										예약 상세
									</a>
								</li>
								<li class="nav-item ">
									<a class="nav-link " aria-current="page" th:href="@{WrittenReviewUser}">
										<i class="bi bi-pencil-square me-2"></i>
										작성 리뷰
									</a>
								</li>
								<li class="nav-item ">
									<a class="nav-link" aria-current="page" href="MY페이지-즐겨찾기.html">
										<i class="bi bi-star-fill me-2"></i>
										즐겨 찾기
									</a>
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link" href="MY페이지-계정변경.html">
										<i class="feather-icon icon-settings me-2"></i>
										계정 설정
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="MY페이지-비밀번호 변경.html">
										<i class="feather-icon icon-settings me-2"></i>
										비밀번호 변경
									</a>
								</li>
								<!-- nav item -->
							
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link " href="MY페이지-계정탈퇴.html">
										<i class="feather-icon icon-settings me-2"></i>
										계정탈퇴
									</a>
								</li>
								<!-- nav item -->
								<!-- <li class="nav-item">
									<a class="nav-link" href="account-notification.html">
										<i class="feather-icon icon-bell me-2"></i>
										Notification
									</a>
								</li> -->
								<!-- nav item -->
								<li class="nav-item">
									<hr />
								</li>
								<!-- nav item -->
								<li class="nav-item">
									<a class="nav-link" href="/user/template/pages/인덱스.html">
										<i class="feather-icon icon-log-out me-2"></i>
										로그 아웃
									</a>
								</li>
							</ul>
						</div>
					</div>
	
	


</th:block>